*
{
  margin: 0;
  padding: 0;
}
.header
{
  height: 100vh;
}
.video-bg
{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index:-1;
}
@@media (min-aspect-ratio:16/9)
{
  .video-bg
  {
    width: 100%;
    height: 100%;

  }
}
@@media (max-aspect-ratio:16/9)
{
  .video-bg
  {
    width: auto;
    height: 100%;
  }
}
.wel{
  position: relative;
  text-align: center;
  background: linear-gradient(to right, #003366 0%, #66ccff 100%);
  font-family: "Times New Roman",bold;
  color: white;
  top: 150px;
}
.wel h1
{
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 30px
}
.btn{
  font-size: 30px;
  color:black;
  margin: 15px;
  padding: 25px,42px;
  text-decoration: none;
  border: 1px solid coral;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #66ccff 0%, #ffffff 100%);

  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}
.btn-click:hover{
    background: linear-gradient(to right, #003366 0%, #66ccff 100%);

}
.but-click:active {
  background: linear-gradient(to right, #003366 0%, #66ccff 100%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
